html.dark {
  background-color: rgb(15, 23, 42);
}

@keyframes shinyAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.shinyText {
  background: linear-gradient(to right, #ff00ff, #00ff00, #0000ff, #ff00ff);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shinyAnimation 3s linear infinite;
}
